<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Become famous now!</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/home/home.css' %}" type="text/css">
    </head>
    <body>
        <div class="main-content-wrapper">
            <div class="main-content">
                <span class="second-text">WEBSITES</span>
                <span class="main-text">LOGINOV</span>
            </div>
        </div>
    </body>
</html>
