{% load i18n %}

<div class="main-text small-main-text">
    {% include 'mobile-header.html' %}
    <nav class="mobile-menu-list"
         id="mobile-menu-list">
        <a onclick="expandMenu(event);scrollToSection('main');">{% trans 'MainPageMobileSelector' %}</a>
        <a onclick="expandMenu(event);scrollToSection('steps');">{% trans 'StepsSecLink' %}</a>
        <a onclick="expandMenu(event);scrollToSection('prices');">{% trans 'PricesMobileSelector' %}</a>
        <a onclick="expandMenu(event);scrollToSection('about');">{% trans 'AboutMobileSelector' %}</a>
        <span class="copyright-mark">© ИП Логинов Богдан Николаевич</span>
    </nav>
</div>