@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Familjen Grotesk', sans-serif;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    background: var(--toxic-green-color);
    border-radius: 1em;
    border: .1em solid;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    gap: 1ch;
    text-align: center;
}

h1 {
    margin: 0px;
    margin-bottom: .25em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--toxic-green-color);
    background: var(--bg-color);
    padding-inline: .2em;
    border-radius: .3em;
}