@import "../colorscheme.css";

@keyframes upellipse {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes downellipse {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes scaleellipse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.5);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes downellipses {
  0% {
    transform: translateY(10%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(10%);
  }
}

.main-content-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-text {
    font-size: min(33vh, 24vw);
    line-height: min(11vh, 9vw);
    font-weight: bold;
    filter: brightness(1);
}

.second-text {
    position: relative;
    right: -1ch;
    color: transparent;
    -webkit-text-stroke: min(.004em, 2px) var(--light-color);
    font-size: min(16vh, 12vw);
    font-style: italic;
    font-weight: bold;
    line-height: 1.4ch;
    margin: 0px;
}

.filled-second-text {
    color: var(--light-color);
    -webkit-text-stroke: 0px var(--light-color);
}

.main-text-elipses {
    position: relative;
    font-size: min(16vh, 12vw);
    right: -.81ch;
    bottom: -.2ch;
    height: calc(min(16vh, 12vw) * .6);
    display: flex;
    width: 1.3ch;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;

    animation: downellipses 5s ease infinite;
}

.el {
    position: relative;
    height: calc(min(16vh, 12vw) * .5);
}

.el-1 {
    top: 0%;
    animation: downellipse 10s ease-out infinite;
}

.el-2 {
    top: -75%;
    animation: scaleellipse 5s ease-out infinite;
}

.el-3 {
    top: -150%;
    animation: scaleellipse 5s ease-out infinite;
}

.el-4 {
    top: -225%;
    animation: upellipse 10s ease-out infinite;
}

.main-text-secondary-part {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.shifted-main-text {
    position: relative;
    top: 0.275ch;
}

.bottom-main-text {
    display: flex;
    align-items: center;
    padding-left: 15%;
    gap: .5ch;
    font-size: min(5vh, 12vw);
    color: transparent;
    height: 6ch;
    -webkit-text-stroke: min(.01em, 2px) var(--light-color);
}

.bottom-vertical-list {
    display: flex;
    flex-direction: column;
    line-height: 1.4ch;
    font-style: italic;
}

.bottom-vertical-list article {
    width: fit-content;
    cursor: pointer;
}

.bottom-vertical-list article:hover {
    color: var(--light-color);
}

.bottom-vertical-list article:hover ~ * {
    filter: brightness(.25);
}

.text-line {
    height: 3ch;
}

.min-price-label {
    position: relative;
    right: 3ch;
    top: 2.6ch;
    width: 8ch;
    font-style: italic;
    font-weight: bold;
    line-height: 3.5ch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.long-arrow {
    max-width: 12ch;
    position: relative;
    right: 3ch;
    transition: all 1.5s cubic-bezier(0.71,-0.01, 0.28, 0.97);
}

.min-price-label-number {
    font-size: 10ch;
    color: var(--toxic-green-color);
    -webkit-text-stroke: 0px;
    font-weight: bold;
    font-style: initial;
    height: 0ch;
    position: relative;
    right: 1.1ch;
}

.currency-container {
    font-size: 6ch;
    font-style: initial;
    color: var(--toxic-green-color);
    -webkit-text-stroke-color: transparent;
    position: relative;
    left: -2.8ch;
    top: -.1ch;
}

.small-main-text {
    display: none;
    top: 0ch;
    width: 100%;
    font-size: 20vw;
    left: 0px;
    color: var(--light-color);
    text-align: left;
    overflow: hidden;
}

.mobile-menu-list {
    position: relative;
    top: -1.2ch;
    display: none;
    padding: 1.155ch;
    gap: .1ch;
    flex-direction: column;
    opacity: 0;
    transition: all .5s ease;
}

.mobile-header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-list a {
    color: inherit;
    text-decoration: none;
    line-height: 1.2ch;
}

.secondary-mobile-menu-text {
    width: 100%;
    color: transparent;
    -webkit-text-stroke: min(.004em, 2px) white;
    letter-spacing: .082ch;
    transition: all .5s ease;
}

.mobile-main-text {
    display: none;
    line-height: 2ch;
    flex-direction: column;
}

.big-mobile-main-text {
    font-size: 25vw;
    color: var(--light-color);
    -webkit-text-stroke: 0px;
}

.small-mobile-main-text {
    font-size: 12.5vw;
    color: transparent;
    -webkit-text-stroke-color: var(--light-color);
}

.currency-name {
    font-size: .5ch;
    color: transparent;
    -webkit-text-stroke-color: var(--light-color);
    position: relative;
    left: -4.7ch;
    bottom: -2ch;
    font-style: initial;
}

.contact-button-top {
position: relative;
    left: calc(.25*min(16vh, 12vw));
    height: 9.8vh;
    cursor: pointer;
    top: 0.2ch;
    width: 32.5vw;
    background: var(--toxic-green-color);
    border: 0px;
    font-size: 3.3vw;
    font-family: 'Familjen Grotesk', sans-serif;
    color: var(--bg-color);
    font-weight: 900;
    border-radius: 0.1ch;
    z-index: 100;
}

@media(aspect-ratio < 12/9) {
    @keyframes upellipse {
      0% {
        transform: translateY(0%) rotateX(0deg);;
      }

      50% {
        transform: translateY(200%) rotateX(180deg);
      }

      100% {
        transform: translateY(0%) rotateX(360deg);
      }
    }

    @keyframes downellipse {
      0% {
        transform: translateY(0%) rotateX(0deg);
      }

      50% {
        transform: translateY(-200%) rotateX(180deg);
      }

      100% {
        transform: translateY(0%) rotateX(360deg);;
      }
    }

    .main-content-wrapper {
        position: absolute;
        top: 0px;
    }

    .main-text {
        display: none;
    }

    .long-arrow {
        display: none;
    }

    #main-text-circle {
        display: none;
    }

    .mobile-main-text {
        display: flex;
    }

    .second-text, .text-line, .bottom-vertical-list, .currency-name {
        display: none;
    }

    .min-price-label {
        position: initial;
    }

    .currency-container {
        left: .6ch;
        top: -.17ch;
        font-size: 5ch;
        -webkit-text-stroke-color: transparent;
    }

    .min-price-label-number {
        font-size: 9ch;
        right: -.875ch;
        top: -.33ch;
    }

    .min-price-label {
        margin-inline: auto;
        width: auto;
        -webkit-text-stroke-color: var(--light-color);
    }

    .bottom-main-text {
        width: 100vw;
        padding-left: 0px;
    }

    .small-main-text {
        display: flex;
        flex-direction: column;
        gap: .075ch;
        position: sticky;
        line-height: .9ch;
        mix-blend-mode: exclusion;
        height: 2.45ch;
        z-index: 10;
    }

    .small-main-text img {
        mix-blend-mode: normal;
        z-index: 10;
    }

    .second-text {
        font-size: 20vw;
        right: 0px;
        line-height: 2ch;
    }

    .main-text-elipses {
        position: absolute;
        left: 45%;
        right: 25%;
        top: 50%;
        transform: scale(8);
        filter: brightness(0.5);
        z-index: -1;
    }

    .main-content {
        align-items: center;
        height: 100vh;
        margin-inline: auto;
        justify-content: center;
    }

    .contact-button-top {
        position: absolute;
        right: 30%;
        left: auto;
        bottom: 10%;
        width: 40%;
        top: auto;
        height: auto;
        border-radius: 50%;
        aspect-ratio: 1/1;
        z-index: 1;
    }
}