@import "../colorscheme.css";
@import "../fonts.css";
@import "../circles.css";

.main-content-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-content {
    display: flex;
    height: 100vh;
    width: 75vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'RFDewi Bold';
}

.main-text {
    font-size: 9.42vw;
    line-height: 1ch;
    font-weight: bold;
    filter: brightness(1);
}

.main-text-secondary-part {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    -webkit-text-stroke: 0px;
}

.benefits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
    color: var(--light-color-darkened);
}

li {
    display: flex;
    margin-bottom: 1.1vh;
    text-indent: 0.1ch;
    gap: .25ch;
}

li:before {
    content: url("/uploads/img/ul-ellipse.svg");
    padding-right: 5px;
}

li span {
    color: var(--toxic-green-color);
}

.main-text-secondary-part span {
    font-family: 'RFDewi Semibold';
    font-size: 1.57vw;
}

.bottom-main-text {
    display: flex;
    align-items: center;
    padding-left: 12.25%;
    gap: .5ch;
    font-size: min(5vh, 12vw);
    font-weight: 900;
    height: 6ch;
}

.text-line {
    height: 100%;
}

.min-price-label {
    position: relative;
    right: 3ch;
    top: 2.6ch;
    width: 8ch;
    font-style: italic;
    font-weight: bold;
    line-height: 3.5ch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.long-arrow {
    max-width: 12ch;
    position: relative;
    right: 3ch;
    transition: all 1.5s cubic-bezier(0.71,-0.01, 0.28, 0.97);
}

.min-price-label-number {
    font-size: 10ch;
    color: var(--toxic-green-color);
    -webkit-text-stroke: 0px;
    font-weight: bold;
    font-style: initial;
    height: 0ch;
    position: relative;
    right: 1.1ch;
}

.currency-container {
    font-size: 6ch;
    font-style: initial;
    color: var(--toxic-green-color);
    -webkit-text-stroke-color: transparent;
    position: relative;
    left: -2.8ch;
    top: -.1ch;
}

.small-main-text {
    display: none;
    top: 0ch;
    width: 100%;
    font-size: 16vw;
    left: 0px;
    color: var(--light-color);
    text-align: left;
    overflow: hidden;
}

.mobile-menu-list {
    position: relative;
    top: -1.2ch;
    display: none;
    padding: 1.155ch;
    gap: .1ch;
    flex-direction: column;
    opacity: 0;
    font-family: 'RFDewi Bold';
    transition: all .5s ease;
}

.mobile-header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-list a {
    color: inherit;
    text-decoration: none;
    line-height: 1.2ch;
}

.mobile-main-text {
    display: none;
    line-height: 2ch;
    flex-direction: column;
}

.currency-name {
    font-size: .5ch;
    color: transparent;
    -webkit-text-stroke-color: var(--light-color);
    position: relative;
    left: -4.7ch;
    bottom: -2ch;
    font-style: initial;
}

.contact-button-top {
    height: 9.8vh;
    font-weight: 900;
    width: 100vw;
    text-align: left;
    font-family: 'RFDewi Expanded Bold';
    cursor: pointer;
    padding-inline: .5ch;
    background: transparent;
    border: 0px;
    font-size: 3.14vw;
    color: var(--toxic-green-color);
    border-radius: .75ch;
    border: 1px solid var(--toxic-green-color);
    z-index: 100;
}

.contact-button-top:hover {
    background: linear-gradient(90deg, rgba(210,255,2,0.7) 0%, rgba(255,239,0,1) 100%);
    color: var(--bg-color);
}

.min-price-from-word {
    position: relative;
    top: -0.7ch;
}

.secondary-text {
    font-size: 6.42vw;
}

.main-text-primary-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7.6vh;
}

.secondary-text, .main-text {
    font-family: 'RFDewi Expanded Bold Italic';
}

.main-text-parts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
}

.mobile-main-text {
    margin-left: 0.5ch;;
    width: 100%;
    font-family: 'RFDewi';
    font-size: 40px;
    -webkit-text-stroke: 1px;
    gap: 30px;
}

.mobile-main-text .upper-part {
    align-items: start;
    display: inherit;
    flex-direction: column;
    gap: 15px;
    line-height: 1ch;
}

.mobile-main-text .bottom-part {
    font-size: 25px;
    line-height: 1ch;
    text-align: left;
    -webkit-text-stroke: 0px;
    width: 95%;
    letter-spacing: .3px;
    font-family: 'RFDewi Expanded Bold';
}

.mobile-main-text .mobile-text-contrasted {
    color: var(--toxic-green-color);
    -webkit-text-stroke: 0px;
}


@media(aspect-ratio < 12/9) {
    .min-price-from-word {
        position: initial;
        top: 0px;
    }

    .main-content-wrapper {
        display: block;
    }

    .contact-button-top:hover {
        background: var(--toxic-green-color);
        color: var(--bg-color);
    }

    #main-text-circle {
        display: none;
    }

    .mobile-main-text {
        display: flex;
    }

    .secondary-text, .main-text {
        font-family: 'RFDewi Bold';
    }

    .text-line, .main-text-primary-part, .currency-name, .main-text, .long-arrow {
        display: none;
    }

    .min-price-label {
        position: initial;
    }

    .currency-container {
        left: .6ch;
        top: -.17ch;
        font-size: 5ch;
        -webkit-text-stroke-color: transparent;
    }

    .min-price-label-number {
        font-size: 9ch;
        right: -.875ch;
        top: -3.7vh;
    }

    .min-price-label {
        margin-inline: auto;
        width: auto;
        -webkit-text-stroke-color: var(--light-color);
    }

    .bottom-main-text {
        width: 100vw;
        padding-left: 0px;
    }

    .small-main-text {
        display: flex;
        flex-direction: column;
        gap: .075ch;
        position: sticky;
        line-height: .9ch;
        mix-blend-mode: exclusion;
        height: 2.45ch;
        z-index: 10;
    }

    .small-main-text img {
        mix-blend-mode: normal;
        z-index: 10;
    }

    .main-content {
        align-items: center;
        height: 100vh;
        margin-inline: auto;
        justify-content: center;
        width: initial;
        mix-blend-mode: normal;
    }

    .contact-button-top {
        position: absolute;
        left: 2.5%;
        bottom: 10%;
        width: 95%;
        top: auto;
        height: auto;
        border-radius: 35px;
        aspect-ratio: 4/1;
        z-index: 1;
        font-family: 'RFDewi';
        text-align: left;
        padding-left: 1ch;
        backdrop-filter: blur(.5em);
        -webkit-backdrop-filter: blur(.5em);
        font-size: 8.4vw;
    }
}