@import "../colorscheme.css";

.second-content-wrapper {
    position: sticky;
    top: 0px;
    color: var(--bg-color);
    font-size: min(10vh, 10vw);
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    overflow: visible;

    transition: opacity .5s ease;
}

.second-content-wrapper-background {
    height: 260vh;
    position: sticky;
    top: 100vh;
    background: rgb(219, 219, 219);
}

.list-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    height: 70vh;
    padding-block: 15vh;
    transition: all .2s ease;
}

.list-item-hovered {
    background: var(--bg-color);
    color: var(--light-color);

    transform: perspective(10vw) translateZ(1vh);
}

.list-item-hovered .min-type-price-label {
    max-width: 20vw;
}

.list-item img {
    width: 58.3%;
    height: 26vh;
    transition: opacity .5s ease, display 0s ease .5s;
}

.site-order-button {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 58.3%;
    height: 0ch;
    border-radius: 1ch;
    z-index: 100;
    display: none;
    font-size: .6ch;
    font-weight: 100;
    color: var(--light-color);
    cursor: pointer;

    transition: height .5s ease;
}

.site-order-button div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-button-part-bottom {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 30%!important;
    border-top: 1px solid var(--light-color-darkened);
}

.order-button-part-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px solid var(--light-color-darkened);
    color: var(--toxic-green-color);
}

.list-item-description {
    font-size: .6ch;
    width: 58.3%;
    height: 6.5ch;
    font-weight: 100;
}

.list-items-border {
    width: 3px;
    background: var(--bg-color);
    height: 100%;
    transition: all .1s ease;
}

.list-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.min-type-price-label {
    padding-inline: .5ch;
    background: var(--toxic-green-color);
    line-height: 2ch;
    font-size: .7ch;
    border-radius: 1ch;
    max-width: 10vw;
    width: 100vw;

    color: var(--bg-color)!important;

    transition: all .2s ease-out;
}

.site-order-details {
    z-index: 100;
    gap: 1ch;
}

.mobile-order-button {
    border-radius: 1ch;
    padding-inline: .5ch;
    display: none;
    font-size: .9ch;
    background: var(--toxic-green-color);
}

.mobile-learn-button {
    border-radius: 1ch;
    padding-inline: .5ch;
    display: none;
    font-size: .8ch;
    background: var(--toxic-green-color)
}

@media (hover: hover) {
    .list-item:hover img {
        filter: invert(1);
        opacity: 0;
        display: none;
    }

    .site-order-button div:hover {
        background: var(--toxic-green-color);
        color: var(--bg-color);
    }

    .list-item:hover .site-order-button {
        display: flex;
        border: .05ch solid var(--light-color-darkened);
        height: calc(26vh - .05ch);
    }
}

@media(aspect-ratio < 16/10) and (aspect-ratio > 12/9) {
    .list-item-title {
        font-size: 1ch;
    }
}

@media(aspect-ratio < 12/9) {
    .second-content-wrapper-background {
        height: 225vh;
        position: relative;
        top: 87vh;
    }

    .second-content-wrapper {
        height: auto;
        flex-direction: column;
        padding-top: 1.2ch;
        position: sticky;
        top: -15vh;
    }

    .list-item img {
        display: none;
    }

    .site-order-details {
        display: grid;
        grid-gap: .2ch;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-weight: 100;
        width: 100%;
    }

    .mobile-learn-button {
        display: flex;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .mobile-order-button {
        display: flex;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .list-item-title {
        flex-direction: column;
        align-items: flex-start;
        width: calc(100% - .5ch);
    }

    .min-type-price-label {
        grid-row-start: 1;
        grid-row-end: 1;
        max-width: unset;
        width: -webkit-fill-available;
        color: var(--light-color)!important;
    }

    .min-type-price-label, .mobile-learn-button {
        background: var(--bg-color);
        color: var(--light-color-darkened);
    }

    .list-item-description {
        width: 100%;
        font-weight: 500;
    }

    .list-items-border {
        display: none;
    }

    .list-item {
        width: calc(100% - 3vw);
        align-items: flex-start;
        padding-left: 3vw;
        text-align: left;
        font-size: min(15vh, 15vw);
        padding-block: 0px;
        height: fit-content;
    }
}