@import "../colorscheme.css";

.steps-content-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--bg-color);
    position: sticky;
    top: 0vh;
    overflow: hidden;
    padding-bottom: 25vh;
}

.text-line {
    font-size: 10vh;
    font-family: 'RFDewi Expanded Bold Italic';
    height: min-content;
    width: max-content;
}


.text-line span {
    color: transparent;
    -webkit-text-stroke: 1px var(--light-color);
}


.steps {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2vh;
    font-size: 5vh;
    margin-block: 0px;

	scroll-snap-type: y mandatory;
}

.steps li {
    list-style-type: none;
}

.steps-numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 4.2vh;

    font-size: 5vh;
    width: 14.2vw;

    padding-right: 14.2vw;

    color: var(--toxic-green-color);
}

.active-item-line {
    height: 8vh;
    position: absolute;
    top: 46vh;
    width: 80vw;
    border: 5px solid var(--toxic-green-color);
    margin-inline: 20vh;
    border-radius: 30vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    pointer-events: none;
}

.line-about-button {
    margin: .5vh;
    height: 90%;
    border: 0px;
    background: var(--toxic-green-color);
    border-radius: inherit;
    font-size: 3vh;
    padding-inline: 2ch;
    font-family: "RFDewi Bold";
    color: var(--bg-color);
    cursor: pointer;

    pointer-events: auto;

    transition: all .2s ease-out;
}

.line-about-button:hover {
    background: var(--light-color);
}

.steps-wrapper {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    max-height: 75vh;
    overflow: scroll;
    font-family: 'RFDewi Bold', 'SF Pro Display';
}

.steps-table {
    padding-block: 35vh;
    height: min-content;
    width: 100%;
    display: flex;
}

@media (aspect-ratio < 12/9) {
    .text-line {
        font-size: 6vh;
        display: initial;
    }

    #text-line-2 {
        position: absolute;
        top: calc(10vh + 1ch);
    }

    .steps-content-wrapper {
        padding-top: 10vh;
        height: 90vh;
        padding-bottom: 10vh;
    }
}
