@import "colorscheme.css";
@import "fonts.css";

.dialog-window-bg {
    position: fixed;
    top: 0px;
    display: flex;
    font-family: "SF Pro Display", Helvetica, system-ui;
    font-weight: 500;
    font-size: 2vw;
    align-items: center;
    flex-direction: row;
    gap: .5ch;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(.6ch) contrast(.25) brightness(1.2);
    z-index: 1000;
    text-align: left;
    overflow: hidden;
}

.dialog-window {
    display: flex;
    align-items: flex-start;
}

.close {
    width: min-content;
    aspect-ratio: 1/1;
    border-radius: .75ch;
    border: 0px;
    background: var(--bg-color);
    filter: inverse(1);
    margin-inline: 1ch;
    font-size: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-window-bg.hidden {
    display: none;
}

.dialog-window-bg.dark {
    backdrop-filter: blur(.6ch) contrast(.25) brightness(.7);
}

.dialog-window-bg.toxic {
    background: var(--toxic-green-color);
}

.dialog-window-bg h2 {
    margin-top: 0px;
    text-wrap: nowrap;
    margin-bottom: .25ch;
    font-size: 2em;
}

.dialog-window-bg h3 {
    margin-top: .5ch;
    margin-bottom: .25ch;
    font-size: 2em;
}

form {
    width: fit-content!important;
    border-radius: 2ch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--bg-color);
    gap: 4vh;
    font-family: 'RFDewi Extended Black Italic';
    transition: all .2s ease;
}

.form-field {
    display: flex;
    border-radius: .25ch;
    padding: .125ch;
}

.form-field label {
    width: min-content;
    padding-inline: .5ch;
    padding-block: .25ch;
    text-wrap: nowrap;
    text-transform: uppercase;
}

.form-field input {
    width: 100%;
    background: var(--bg-color);
    font-family: 'RFDewi Bold';
}

form img {
    height: 2ch;
    aspect-ratio: 1/1;
    width: auto!important;
    filter: contrast(.8);
    cursor: pointer;
}

form span {
    padding-left: 0px!important;
    width: auto!important;
    font-weight: bold;
    color: var(--toxic-green-color);
    overflow-wrap: anywhere;
    text-wrap: wrap;
    display: flex;
    font-size: 2.5vw;
    flex-direction: column;
}

#submit-order {
    width: 100%;
    border-radius: .5ch;
    font-size: inherit;
    font-family: 'RFDewi Extended Black Italic';
    border: 2px solid var(--toxic-green-color);
    background: transparent;
    color: var(--toxic-green-color);
    height: 1.75em;
    cursor: pointer;
    transition: .2s ease all;
}

#submit-order:hover {
    color: var(--bg-color);
    background: linear-gradient(90deg, #D2FF02 0%, #FFB800 100%);
}

.form-description {
    color: var(--light-color);
    font-size: .75em;
    font-family: 'RFDewi Bold';
    text-align: justify;
}

form span span {
    overflow-wrap: anywhere;
    text-wrap: wrap;
    line-height: 1ch;
}

#close-dialog {
    cursor: pointer;
    filter: contrast(.8);
}

form *:focus-visible {
    outline: 0px;
}

form input {
    background: rgb(36, 36, 36, .33);
    color: #DBDBDB;
    text-align: center;
    border: 0px;
    border-radius: .5ch;
    font-size: inherit;
}

.dialog-container {
    width: 33.3vw;
    height: min-content;
    min-width: 500px;
    background: var(--bg-color);
    padding: 1ch;
    border-radius: .75ch;

    transition: all .2s ease;
}

@media(aspect-ratio < 12/9) {
    form div div {
        overflow-wrap: anywhere!important;
        max-width: 79vw;
        text-wrap: nowrap!important;
        overflow-x: scroll;
    }

    h3 {
        font-size: 10vw!important;
        width: 90vw!important;
    }

    .dialog-window-bg {
        top: 0px;
        bottom: top;
        backdrop-filter: blur(4px) saturate(0.5);
        font-size: 7vw;
    }

    .dialog-window-bg h1 {
        font-size: 15vw;
        padding-left: 5vw;
        width: 95vw;
    }

    .dialog-window-bg h2 {
        font-size: 10vw;
        margin-block: calc(1ch * 0.444);
    }

    .close {
        width: 100%!important;
        margin-inline: 0px;
        margin-top: 2ch;
        aspect-ratio: auto;
        font-size: 7vw;
        padding: 0.5ch;
    }

    .dialog-window-bg * {
        width: 90%;
        text-wrap: balance;
    }

    .dialog-window-bg span {
        width: 95vw;
        padding-left: 5vw;
    }

    .dialog-window-bg #close-dialog {
        width: 20vw!important;
        height: 20vw!important;
    }

    form span {
        font-size: 10vw;
    }

    form div {
        font-size: 1.25ch;
        width: 100%;
    }

    .dialog-window {
        flex-direction: column;
        margin-inline: auto;
    }

    .dialog-container {
        min-width: auto;
    }

    #dialog-window-text {
        width: 100%;
        max-height: 65vh;
        overflow: scroll;
    }

    form span span {
        font-size: 32vw;
        overflow-wrap: anywhere;
        text-wrap: wrap;
    }

    #submit-order {
        height: fit-content;
    }
}