@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "SF Pro Display";
    font-weight: 800;
    src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 900;
    src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    src: url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 500;
    src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 700;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'RFDewi';
    src: url('../fonts/RFDewiExpanded-Ultrabold.woff') format('woff');
}

@font-face {
    font-family: 'RFDewi Expanded Bold';
    src: url('../fonts/RFDewiExpanded-Bold.woff') format('woff');
}

@font-face {
    font-family: 'RFDewi Black';
    src: url('../fonts/RFDewiExtended-Black.woff') format('woff');
}

@font-face {
    font-family: 'RFDewi Extended Bold';
    src: url('../fonts/RFDewiExtended-Bold.woff') format('woff');
}

@font-face {
    font-family: 'RFDewi Semibold';
    src: url('../fonts/RFDewi-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'RFDewi Extended Semibold';
    src: url('../fonts/RFDewiExtended-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'RFDewi Expanded Bold Italic';
    src: url('../fonts/RFDewiExpanded-BlackItalic.woff') format("woff");
}

@font-face {
    font-family: 'RFDewi Regular';
    src: url('../fonts/RFDewi-Regular.woff') format("woff");
}

@font-face {
    font-family: 'RFDewi Black Italic';
    src: url('../fonts/RFDewiExpanded-BlackItalic.woff') format("woff");
}

@font-face {
    font-family: 'RFDewi Italic';
    src: url('../fonts/RFDewiExtended-Italic.woff') format("woff");
}

@font-face {
    font-family: 'RFDewi Extended Black Italic';
    src: url('../fonts/RFDewiExtended-BlackItalic.woff') format("woff");
}


@font-face {
    font-family: 'RFDewi Expanded Black Italic';
    src: url('../fonts/RFDewiExpanded-BlackItalic.woff') format("woff");
}
