@import "colorscheme.css";

.header-wrapper {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 0em;
    z-index: 1000;
}

.header-logo {
    margin: 0px;
    font-size: inherit;
    font-family: 'RFDewi Black Italic';
    color: var(--light-color);
    line-height: 1ch;
}

.header-logo:hover {
    color: var(--toxic-green-color);
}

.header {
    display: flex;
    font-size: 5vh;
    color: var(--bg-color);
    height: 7vh;
    gap: 3ch;
    font-weight: bold;
    cursor: pointer;
    padding-left: 12.5vw;
    padding-block: 1vh;
    background: rgb(36, 36, 36, .775);
    height: min-content;
}

.header a {
    font-size: 2.4vh;
    color: var(--light-color);
    text-decoration: none;
    font-family: 'RFDewi Italic';
    margin-left: 1ch;
}

.header a:hover {
    color: var(--toxic-green-color);
}

@media(aspect-ratio < 12/9) {
    .header-wrapper {
        display: none;
    }
}
