@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #242424;
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    margin: 0px;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
