{% load static %}
{% load i18n %}

<style>
        {% if LANGUAGE_CODE == "ru" %}
            .min-price-label-number {
                font-family: 'GolosUIWebBold';
                text-shadow: -2px -2px 0 var(--toxic-green-color), 2px -2px 0 var(--toxic-green-color), -2px 2px 0 var(--toxic-green-color), 2px 2px 0 var(--toxic-green-color);
                font-size: 8ch;
            }

            .currency-container {
                left: -2.5ch;
            }

            @media (aspect-ratio < 12 / 9) {
                .min-price-label-number {
                    right: -.7ch;
                }

                .currency-container {
                    left: 0ch;
                    top: -.4ch;
                }

                .min-price-label-number {
                    text-shadow: none;
                    -webkit-text-stroke: 1vw;
                    top: -5.7vh;
                }
            }
        {% endif %}
        @media(aspect-ratio < 12/9) {
            .secondary-text, .main-text {
               font-family: 'RFDewi Extended Bold';

            }
        }
</style>

<main class="main-content-wrapper" id="main">
    <div class="bg mobile-bg"
         style="background: url({% static 'img/proger.png' %});background-size: cover;"></div>
    <div class="bg desctop-bg"
         style="background: url({% static 'img/proger_full.png' %});background-size: cover;"></div>
    <section class="main-content">
        <div class="main-text-primary-part">
            <h1 class="main-text-parts">
                <span class="secondary-text">МЫ ДЕЛАЕМ</span>
                <span class="main-text" style="color: var(--toxic-green-color)">ПРОДАЮЩИЕ</span>
                <span class="secondary-text">САЙТЫ</span>
            </h1>
            {% if LANGUAGE_CODE == "ru" %}
                {% include 'main-order-button.html' with description='В течении 5 минут с вами свяжется специалист' %}
            {% else %}
                {% include 'main-order-button.html' with description='A specialist will contact you within 5 minutes' %}
            {% endif %}
            <ul class="benefits-list">
                {% trans 'BenefitsList' %}
            </ul>
        </div>
        <div class="mobile-main-text">
            <div class="upper-part">
                <span style="{% if LANGUAGE_CODE == 'en' %}font-size: 35px;{% endif %}">{% trans 'Development' %}</span>
                <span style="font-size: 60px;">{% trans 'Sites' %}</span>
                <span class="mobile-text-contrasted">{% trans 'MainMinPrice' %}</span>
            </div>
            <div class="bottom-part">
                <span style="line-height: 25px;">
                    {% trans 'MainAbout' %}
                </span>
            </div>
            {% include 'main-order-button.html' %}
        </div>
    </section>
</main>
