{% load static %}
{% load i18n %}

<section class="second-content-wrapper-background">
    <style>
        {% if LANGUAGE_CODE == "ru" %}
        @media (aspect-ratio < 12 / 9) {
            .list-item-description, .min-type-price-label, .mobile-learn-button, .mobile-order-button {
                font-weight: 600;
                font-size: .8ch;
                padding-top: 0.3ch;
                padding-bottom: 0.4ch;
            }

            .list-item {
                font-family: 'GolosUIWebRegular', sans-serif;
            }

            .site-order-details div {
                line-height: 1.6ch;
            }

            .list-item-title span {
                font-weight: 900;
            }
        }
        {% endif %}
    </style>
    <div class="main-content-wrapper second-content-wrapper" id="prices">
        <article class="list-item" id="landing">
            <img src="{% static 'img/portfolio.png' %}">
            <div class="site-order-button">
                <div class="order-button-part-top" onclick="orderSite(1)">{% trans 'Order' %}</div>
                    <div class="order-button-part-bottom" onclick="renderDialogByDialogId(1)">{% trans 'LearnMore' %}</div>
            </div>
            <div class="list-item-title">
                <span>{% trans 'Landing' %}</span>
                <div class="site-order-details">
                    <div class="min-type-price-label">{% trans 'LadingMinPrice' %}</div>
                    <div class="mobile-learn-button" onclick="renderDialogByDialogId(1)">{% trans 'LearnMoreMobile' %}</div>
                    <div class="mobile-order-button" onclick="orderSite(1)">{% trans 'OrderMobile' %}</div>
                </div>
            </div>
            <div class="list-item-description">{% trans 'LandingDesc' %}</div>
        </article>
        <div class="list-items-border"></div>
        <article class="list-item" id="commerce">
            <img src="{% static 'img/commerce.png' %}">
            <div class="site-order-button">
                <div class="order-button-part-top" onclick="orderSite(2)">{% trans 'Order' %}</div>
                <div class="order-button-part-bottom" onclick="renderDialogByDialogId(3)">{% trans 'LearnMore' %}</div>
            </div>
            <div class="list-item-title">
                <span>{% trans 'Commerce' %}</span>
                <div class="site-order-details">
                    <div class="min-type-price-label">{% trans 'CommerceMinPrice' %}</div>
                    <div class="mobile-learn-button" onclick="renderDialogByDialogId(3)">{% trans 'LearnMoreMobile' %}</div>
                    <div class="mobile-order-button" onclick="orderSite(2)">{% trans 'OrderMobile' %}</div>
                </div>
            </div>
            <div class="list-item-description">{% trans 'CommerceDesc' %}</div>
        </article>
        <div class="list-items-border"></div>
        <article class="list-item" id="custom">
            <img src="{% static 'img/custom.png' %}">
            <div class="site-order-button">
                <div class="order-button-part-top" onclick="orderSite(3)">{% trans 'Order' %}</div>
                <div class="order-button-part-bottom" onclick="renderDialogByDialogId(2)">{% trans 'LearnMore' %}</div>
            </div>
            <div class="list-item-title">
                <span>{% trans 'Custom' %}</span>
                <div class="site-order-details">
                    <div class="min-type-price-label">{% trans 'CustomMinPrice' %}</div>
                    <div class="mobile-learn-button" onclick="renderDialogByDialogId(2)">{% trans 'LearnMoreMobile' %}</div>
                    <div class="mobile-order-button" onclick="orderSite(3)">{% trans 'OrderMobile' %}</div>
                </div>
            </div>
            <div class="list-item-description">{% trans 'CustomDesc' %}</div>
        </article>
    </div>
</section>
