{% load static %}

<section class="second-content-wrapper-background">
    <div class="main-content-wrapper second-content-wrapper" id="prices">
        <article class="list-item">
            <img src="{% static 'img/portfolio.png' %}">
            <div class="site-order-button">
                <div class="order-button-part-top" onclick="orderSite(1)">order</div>
                    <div class="order-button-part-bottom" onclick="renderDialogByDialogId(1)">learn more</div>
            </div>
            <div class="list-item-title">LANDING
                <div class="site-order-details">
                    <div class="min-type-price-label">$50+</div>
                    <div class="mobile-learn-button" onclick="renderDialogByDialogId(1)">learn more</div>
                    <div class="mobile-order-button" onclick="orderSite(1)">order</div>
                </div>
            </div>
            <div class="list-item-description">I will create wonderful site special for you</div>
            <div class="list-item-canvas-filter"></div>
        </article>
        <div class="list-items-border"></div>
        <article class="list-item">
            <img src="{% static 'img/commerce.png' %}">
            <div class="site-order-button">
                <div class="order-button-part-top" onclick="orderSite(2)">order</div>
                <div class="order-button-part-bottom" onclick="renderDialogByDialogId(3)">learn more</div>
            </div>
            <div class="list-item-title">COMMERCE
                <div class="site-order-details">
                    <div class="min-type-price-label">$150+</div>
                    <div class="mobile-learn-button" onclick="renderDialogByDialogId(3)">learn more</div>
                    <div class="mobile-order-button" onclick="orderSite(2)">order</div>
                </div>
            </div>
            <div class="list-item-description">You will be able to earn on your ideas, I will help</div>
            <div class="list-item-canvas-filter"></div>
        </article>
        <div class="list-items-border"></div>
        <article class="list-item">
            <img src="{% static 'img/custom.png' %}">
            <div class="site-order-button">
                <div class="order-button-part-top" onclick="orderSite(3)">order</div>
                <div class="order-button-part-bottom" onclick="renderDialogByDialogId(2)">learn more</div>
            </div>
            <div class="list-item-title">CUSTOM
                <div class="site-order-details">
                    <div class="min-type-price-label">$100+</div>
                    <div class="mobile-learn-button" onclick="renderDialogByDialogId(2)">learn more</div>
                    <div class="mobile-order-button" onclick="orderSite(3)">order</div>
                </div>
            </div>
            <div class="list-item-description">Any types of websites, I can implement your wildest ideas</div>
            <div class="list-item-canvas-filter"></div>
        </article>
    </div>
</section>
