<section class="steps-content-wrapper" id="steps">
    <div class="text-line" id="text-line">
        <span>ЭТАПЫ РАБОТ</span>
        <span>ЭТАПЫ РАБОТ</span>
        ЭТАПЫ РАБОТ
        <span>ЭТАПЫ РАБОТ</span>
        <span>ЭТАПЫ РАБОТ</span>
    </div>

    <ol class="steps">
        <li>Анализ конкурентов</li>
        <li>Разработка макета</li>
        <li>Написание сайта</li>
        <li>Покупка домена</li>
        <li>Сдача сайта</li>
    </ol>

    <div class="text-line" id="text-line-2">
        <span>ЭТАПЫ РАБОТ</span>
        <span>ЭТАПЫ РАБОТ</span>
        ЭТАПЫ РАБОТ
        <span>ЭТАПЫ РАБОТ</span>
        <span>ЭТАПЫ РАБОТ</span>
    </div>
</section>