<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link type="text/css" rel="stylesheet" href="http://loginov.tech/static/css/colorscheme.css">-->
    <link type="text/css" rel="stylesheet" href="http://127.0.0.1:8000/static/css/colorscheme.css">
    <link type="text/css" rel="stylesheet" href="http://127.0.0.1:8000/static/css/messages/message.css">
</head>
<body style="">
    <main>
        <h1>NEW ORDER</h1>
        <span>
            User {email} order the site, Contact him as soon as possible
        </span>
    </main>
</body>
</html>