<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link type="text/css" rel="stylesheet" href="http://loginov.tech/static/css/colorscheme.css">-->
    <link type="text/css" rel="stylesheet" href="http://127.0.0.1:8000/static/css/colorscheme.css">
    <link type="text/css" rel="stylesheet" href="http://127.0.0.1:8000/static/css/messages/message.css">
</head>
<body style="">
    <main>
        <h1>WE RECEIVE ORDER</h1>
        <span>
            Thank you for choosing us, our manager will contact you in a few minutes and help you determine the date of the call
            regarding the development of the site
        </span>
        <span>
            If the request was not sent by you, write to us about it immediately:
            <a href="mailto:sites@loginov.tech">sites@loginov.tech</a>
        </span>
    </main>
</body>
</html>